{* This is the welcome page, you can delete it *}

{block content}

    <div class="row">
        <div class="large-12 columns">
            <h1>Upravit grand challenge</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            {control challengeForm}
        </div>
    </div>

{/block}


{block head}

{/block}

{block script}

{/block}
