<!doctype html>
<html class="no-js" lang="en" ng-app="horizontFrontApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizont 2050</title>

    <link href="{$baseUrl}/favicon.ico" rel="icon" type="image/png" />

    <link rel="stylesheet" href="{$baseUrl}/css/libraries.min.css"/>
    <link rel="stylesheet" href="{$baseUrl}/css/front.css"/>
    <link rel="stylesheet" href="{$baseUrl}/bower_components/components-font-awesome/css/font-awesome.min.css" media="screen" />
    <link rel="stylesheet" href="{$baseUrl}/js/bxSlider/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" href="{$baseUrl}/css/override.css"/>

    <script src="{$baseUrl}/js/vendor/modernizr.min.js"></script>

    <script src="{$baseUrl}/bower_components/angular/angular.min.js"></script>
    <script src="{$baseUrl}/js/front/horizontFrontApp.js"></script>
    <script src="{$baseUrl}/js/front/signals/signalListCtrl.js"></script>

</head>
<body>

<header class="hide-for-small">
    <div class="row">
        <div class="small-12 medium-4 large-4 columns">
            <a n:href="Homepage:default">
                <img src="{$baseUrl}/images/logo.png" alt="Logo Horizont 2050">
            </a>
        </div>

        {control topMenu}

    </div>
</header>

<div class="row hide-for-small">
    <div class="small-12 medium-12 large-12 columns">
        <div class="divider"></div>
    </div>
</div>

<div class="row" ng-controller="signalListCtrl">
    {include #content}

    {block leftBar}
        <div class="small-12 medium-pull-9 medium-3 columns" id="left-bar">

            {block leftBarContent}

            {/block}

            <div style="color: grey; font-size: 0.9em; line-height: 1.3em;">
                {if isset($acknowledgement)}{$acknowledgement}<br><br>{/if}
                {* Image courtesy of [name of the image creator] at FreeDigitalPhotos.net *}
                &copy; COŽP UK
            </div>
        </div>
    {/block}
</div>

{block footer}
<div class="row" id="footer" style="margin-top: 2em; margin-bottom: 4em;">
    <div class="small-12 columns">
        <div class="divider"></div>
        <div class="row">
            <div class="small-12 medium-6 text-left columns">
                <span style="display: inline-block; float: left;">
                    <a href="https://tacr.cz/" target="_blank">
                        <img src="{$baseUrl}/images/tacr.png" align="bottom" style="height: 40px; margin-right: 20px;" alt="TAČR">
                    </a>
                </span>
                <span style="display: inline-block; float: left;">
                    Projekt MESENFOR (číslo TD020071)<br> je řešen s finanční podporou <a href="https://tacr.cz/" target="_blank">TA ČR.
                </span>
            </div>
            <div class="small-12 medium-6 text-right columns">
                <span style="display: inline-block; float: right;">
                    <a href="http://www.czp.cuni.cz/czp/index.php/cz/" target="_blank">
                        <img src="{$baseUrl}/images/cozp.png" align="bottom" style="height: 50px; margin-left: 20px;" alt="COŽP">
                    </a>
                </span>
                <span style="display: inline-block; float: right;">
                    <a href="http://www.cuni.cz" target="_blank">
                        <img src="{$baseUrl}/images/uk.png" align="bottom" style="height: 50px; margin-left: 20px;" alt="UK">
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
{/block}

{block javaScript}
    <script src="{$baseUrl}/js/vendor/libraries.min.js"></script>
    <script src="{$baseUrl}/js/vendor/foundation.min.js"></script>
    <script src="{$baseUrl}/js/app.min.js"></script>
    <script src="{$baseUrl}/js/bxSlider/jquery.bxslider.min.js"></script>
{/block}

<script>
    (function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59533457-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
