{* This is the welcome page, you can delete it *}

{block content}

    <div class="row">
        <div class="large-12 columns">
            <h1>Upravit / vložit novinku</h1>
        </div>
    </div>

    <div class="row content">
        <div class="large-9 columns">
            {control pageForm}
        </div>
        <div class="large-3 columns">
            Nějaké info sem můžeme dát.
        </div>
    </div>

{/block}


{block head}

{/block}

{block script}

{/block}
