{* This is the welcome page, you can delete it *}

{block content}

    <div class="row">
        <div class="large-12 columns">
            <h1>Vytvořit nového uživatele</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            {control userInsertForm}
        </div>
    </div>



{/block}


{block head}
<style>

</style>
{/block}

{block script}

{/block}
